<body>
  <h2>
    <% path.to_a.each_with_index do |dir, idx| %>
      <% if idx < path.to_a.length - 1 %>
        <a href="./<%= "../"*(path.to_a.length - idx - 1)  %>index.html"><%= dir %></a>
      <% else %>
        <%= dir %>
      <% end %>/
    <% end %>
  </h2>
  <h3>Object</h3>
  <ul>
    <% pairs.each do |key, elem| %>
      <li><%= key %>: <%= elem %></li>
    <% end %>
  </ul>
</body>
